.landing-container {
  background-color: white;
  color: black;
}

.landing-title {
  color: black;
  font-size: 120px;
}

.landing-subtitle {
  color: black;
}

.landing-button {
  background-color: blue;
  border-radius: 25px;
}
